:root .theme_dark {
  --text-color: #F1B2CE;
  --background: #000028 url("../images/cover-image-dark.png") no-repeat center / cover;
  --accent-color: #FF0070;
  --accent-color-btn: #FF0070;
  --text-color-accent: #DB00FF;
  --bg-color: #000028;
  --accent-color-title: #FF0070;
  --display-header-decor: inline-flex;
  --color-: #FF0070;
  --accent-color-opasity: rgba(255, 0, 112, 0.4);
}