:root .theme_light {
  --text-color: #353430;
  --background: #FFF1F7 url("../images/cover-image-light.png") no-repeat center / cover;
  --accent-color: #FF0070;
  --accent-color-btn: #353430;
  --text-color-accent: #FFC2E6;
  --bg-color: #353430;
  --accent-color-title: #FF8DCB;
  --display-header-decor: none;
  --color-section-title: #353430;
  --accent-color-opasity: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --background: #FFF1F7 url("../images/cover-image-light.png") no-repeat center / cover;
    --accent-color: #FF0070;
    --accent-color-btn: #353430;
    --text-color-accent: #FFC2E6;
    --bg-color: #353430;
    --accent-color-title: #FF8DCB;
    --display-header-decor: none;
    --color-section-title: #353430;
    --accent-color-opasity: rgba(53, 52, 48, 0.4);
  }
}

@media (max-width: 1023px) {
  .header_title {
    text-shadow: 4px 4px 0 var(--accent-color-title);
  }

  .footer_title {
    text-shadow: 2px 2px 0 var(--accent-color-title);
  }
}