.theme_light .decorative__element {
  display: none;
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
  .theme_auto {
    --backgroung-image: url(../images/cover-image-light.png);
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color: #353430;
  }
  
  .theme_auto .decorative__element {
    display: none;
  }
  
  .theme_auto .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }
}

@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
  .footer__title {
    text-shadow: 2px 2px 0 var(--accent-color);
  }
}