:root {
  --main-font: "IBM Plex mono", monospace;
  --background: #000028 url("../images/cover-image-dark.png") no-repeat center / cover;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-color-btn: #FF0070;
  --text-color-accent: #DB00FF;
  --bg-color: #000028;
  --accent-color-title: #FF0070;
  --display-header-decor: inline-flex;
  --color-section-title: #FF0070;
  --accent-color-opasity: rgba(255, 0, 112, 0.4);
  --logo-size_mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --logo-size_desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}