:root {
  --backgroung-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color: #353430;
  --font: 'IBM Plex mono';
  --font-size: 18px;
}

.theme_dark {
  --backgroung-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --btn-color: #ff0070;
}

.theme_light .decorative__element,
.theme_auto .decorative__element {
  display: none;
}

.theme_dark .decorative__element {
  display: flex;
}
