
:root {
  --font: 'IBM Plex mono';
  --font-size: 18px;
  --backgroung-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color: #353430;
}


.theme_light {
  --backgroung-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color: #353430;
}
