
:root {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --font: 'IBM Plex mono';
  --font-size: 18px;
  --btn-color: #ff0070;
  --backgroung-image: url(../images/cover-image-dark.png);
}

.theme_light {
  --backgroung-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color: #353430;
}
